<%= form_with(model: @toy, local: true, class:"form-horizontal special-form") do |form| %>

<div class="field">
  <h4>Yeni Oyuncak Ekle</h4>
  <hr>
</div>
  <div class="field">
    <%= form.label :oyuncak_adı %>
    <%= form.text_field :name , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :oyuncak_çeşidi %>
    <%= form.text_field :toy_type , class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :açıklama %>
    <%= form.text_area :description , class: "form-control"  %>
  </div>

  <div class="field">
    <%= form.label :oyucak_fotoğrafı %>
    <%= form.file_field :image , class: "form-control" %>
  </div>

  <div class="actions field" style="margin-top:2%">
    <%= form.submit "Yeni Oyuncak Ekle", class:"btn btn-success" %>

<div class="actions field" style="margin-top:2%">
<%= link_to 'Back', toys_path, class:"btn btn-primary" %>
</div>

<% end %>
