<div class="profille">
  <div class="">
  <%= image_tag @user.avatar_url.to_s , class: "user_image" %>
<div class="btn btn-primary">
   <h4><b>  <%= @user.name  %></b></h4>
 </div>
 <%= link_to new_user_message_path(@user), class:"btn btn-danger" do %>
 <i class="fa fa-envelope" aria-hidden="true" style="font-size:34px;"></i>
 <% end %>
</div>
</div>
<div class="py-4">
<div class="row justify-content-md-center">
  <% @toys.each do |toy| %>
  <div class="col-md-3">
    <%=  link_to toy_path(toy) do %>
    <%= image_tag toy.image_url.to_s , class:"toys_image" %>
    <% end %>
    <div class="toys_link">
      <%=  link_to toy_path(toy) do %>
        <%= toy.name %>
      <% end %>
    <% if current_user.id == toy.user_id %>
    <%= link_to "Düzenle", edit_toy_path(toy) %>
    <% end %>

    <% if current_user.id != toy.user_id %>
  <%= link_to "Rezere Et", new_toy_reservation_path(toy) %>
    <% end %>
  </div>
    </div>
  <% end %>
</div>
</div>
